In [4]:
import pandas as pd
import datetime as dt

### The pandas Timestamp Object

In [9]:
ts = pd.Timestamp('2021-07-01')
# ts = pd.Timestamp('2021/07/01')

ts = pd.Timestamp('2021-07-01 08:30:00')
ts = pd.Timestamp('2021-07-01 06:30:00 PM')


ts

Timestamp('2021-07-01 18:30:00')

In [11]:
pd.Timestamp(dt.date(2021, 7, 20))
# pd.Timestamp(dt.datetime(2021, 7, 20))

Timestamp('2021-07-20 00:00:00')

### The pandas DateTimeIndex Object

In [14]:
dates = ['2021-07-20', '2021-07-21', '2021-07-22']

dtIndex = pd.DatetimeIndex(dates)

In [15]:
values = [100, 200, 300]
pd.Series(values, index=dtIndex)

2021-07-20    100
2021-07-21    200
2021-07-22    300
dtype: int64

### The pd.to_datetime() Method

In [17]:
pd.to_datetime('2021-07-20')

Timestamp('2021-07-20 00:00:00')

In [18]:
pd.to_datetime(dt.date(2021, 5, 1))

Timestamp('2021-05-01 00:00:00')

In [19]:
pd.to_datetime([dt.date(2021, 5, 1), dt.date(2021, 5, 10), dt.date(2021, 5, 15)])

DatetimeIndex(['2021-05-01', '2021-05-10', '2021-05-15'], dtype='datetime64[ns]', freq=None)

In [23]:
dates = [dt.date(2021, 5, 1), dt.date(2021, 5, 10), dt.date(2021, 5, 15)]

datesSeries = pd.Series(dates)

datesSeries

pd.to_datetime(datesSeries)

type(pd.to_datetime(datesSeries))

pandas.core.series.Series

In [26]:
dates = pd.Series(['2021-05-01', '2021-05-10', '2021-05-15', "Hello"])

pd.to_datetime(dates)

ParserError: Unknown string format: Hello

In [27]:
#to avoid errors

pd.to_datetime(dates, errors='coerce')

0   2021-05-01
1   2021-05-10
2   2021-05-15
3          NaT
dtype: datetime64[ns]

In [28]:
#unix time

time_list = [1625227483, 1625141083, 1625313883]

pd.to_datetime(time_list, unit='s')

DatetimeIndex(['2021-07-02 12:04:43', '2021-07-01 12:04:43',
               '2021-07-03 12:04:43'],
              dtype='datetime64[ns]', freq=None)

In [29]:
#  Create Range of Dates with the pd.date_range() Method

In [34]:
times = pd.date_range('2021-01-01', '2021-01-10')

# pd.date_range('2021-01-01', '2021-01-10', freq='D')

In [37]:
#2 days

pd.date_range('2021-01-01', '2021-01-10', freq='2D')

DatetimeIndex(['2021-01-01', '2021-01-03', '2021-01-05', '2021-01-07',
               '2021-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [38]:
# week days only
# B = Business Days
pd.date_range('2021-01-01', '2021-01-10', freq='B')

DatetimeIndex(['2021-01-01', '2021-01-04', '2021-01-05', '2021-01-06',
               '2021-01-07', '2021-01-08'],
              dtype='datetime64[ns]', freq='B')

In [43]:
#by default start week from SUNDAY
pd.date_range('2021-01-01', '2021-01-10', freq='W')

#start week from FRIDAY
pd.date_range('2021-01-01', '2021-01-10', freq='W-FRI')

DatetimeIndex(['2021-01-01', '2021-01-08'], dtype='datetime64[ns]', freq='W-FRI')

In [33]:


# months wise
pd.date_range('2021-01-01', '2021-10-10', freq='M')

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30'],
              dtype='datetime64[ns]', freq='M')

In [35]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [36]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [44]:
# month starts

pd.date_range('2021-01-01', '2021-10-10', freq='MS')

DatetimeIndex(['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
               '2021-09-01', '2021-10-01'],
              dtype='datetime64[ns]', freq='MS')

In [45]:
#using speriods
# it will generate 20 dates from start

pd.date_range(start='2021-01-01', periods=20, freq='D')

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
               '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20'],
              dtype='datetime64[ns]', freq='D')

In [48]:
# 40 hours list

pd.date_range(start='2021-01-01', periods=40, freq='4H')

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 04:00:00',
               '2021-01-01 08:00:00', '2021-01-01 12:00:00',
               '2021-01-01 16:00:00', '2021-01-01 20:00:00',
               '2021-01-02 00:00:00', '2021-01-02 04:00:00',
               '2021-01-02 08:00:00', '2021-01-02 12:00:00',
               '2021-01-02 16:00:00', '2021-01-02 20:00:00',
               '2021-01-03 00:00:00', '2021-01-03 04:00:00',
               '2021-01-03 08:00:00', '2021-01-03 12:00:00',
               '2021-01-03 16:00:00', '2021-01-03 20:00:00',
               '2021-01-04 00:00:00', '2021-01-04 04:00:00',
               '2021-01-04 08:00:00', '2021-01-04 12:00:00',
               '2021-01-04 16:00:00', '2021-01-04 20:00:00',
               '2021-01-05 00:00:00', '2021-01-05 04:00:00',
               '2021-01-05 08:00:00', '2021-01-05 12:00:00',
               '2021-01-05 16:00:00', '2021-01-05 20:00:00',
               '2021-01-06 00:00:00', '2021-01-06 04:00:00',
               '2021-01-06 08:00:00', '2021-01-06 12:00:00',
               '2021-01-06 16:00:00', '2021-01-06 20:00:00',
               '2021-01-07 00:00:00', '2021-01-07 04:00:00',
               '2021-01-07 08:00:00', '2021-01-07 12:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [49]:
# using end

pd.date_range(end='1999-12-31', periods=20, freq='D')

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [52]:
datesList = pd.Series(pd.date_range('2000-01-01', '2010-12-31', freq='24D'))
datesList

0     2000-01-01
1     2000-01-25
2     2000-02-18
3     2000-03-13
4     2000-04-06
         ...
163   2010-09-17
164   2010-10-11
165   2010-11-04
166   2010-11-28
167   2010-12-22
Length: 168, dtype: datetime64[ns]

In [54]:
datesList.head()

0   2000-01-01
1   2000-01-25
2   2000-02-18
3   2000-03-13
4   2000-04-06
dtype: datetime64[ns]

In [55]:
datesList.dt.day

0       1
1      25
2      18
3      13
4       6
       ..
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [56]:
datesList.dt.weekday

0      5
1      1
2      4
3      0
4      3
      ..
163    4
164    0
165    3
166    6
167    2
Length: 168, dtype: int64

In [71]:
datesList.dt

In [73]:
mask = datesList.dt.is_quarter_start
datesList[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [75]:
import pandas_datareader as pdr

In [76]:
pdr

In [79]:
# Get microsoft finance data 

pdr.DataReader(name='MSFT', data_source='yahoo', start='2015-01-01', end='2020-12-31')

RemoteDataError: Unable to read URL: https://finance.yahoo.com/quote/MSFT/history?period1=1420065000&period2=1609453799&interval=1d&frequency=1d&filter=history
Response Text:
b'<!DOCTYPE html>\n  <html lang="en-us"><head>\n  <meta http-equiv="content-type" content="text/html; charset=UTF-8">\n      <meta charset="utf-8">\n      <title>Yahoo</title>\n      <meta name="viewport" content="width=device-width,initial-scale=1,minimal-ui">\n      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n      <style>\n  html {\n      height: 100%;\n  }\n  body {\n      background: #fafafc url(https://s.yimg.com/nn/img/sad-panda-201402200631.png) 50% 50%;\n      background-size: cover;\n      height: 100%;\n      text-align: center;\n      font: 300 18px "helvetica neue", helvetica, verdana, tahoma, arial, sans-serif;\n  }\n  table {\n      height: 100%;\n      width: 100%;\n      table-layout: fixed;\n      border-collapse: collapse;\n      border-spacing: 0;\n      border: none;\n  }\n  h1 {\n      font-size: 42px;\n      font-weight: 400;\n      color: #400090;\n  }\n  p {\n      color: #1A1A1A;\n  }\n  #message-1 {\n      font-weight: bold;\n      margin: 0;\n  }\n  #message-2 {\n      display: inline-block;\n      *display: inline;\n      zoom: 1;\n      max-width: 17em;\n      _width: 17em;\n  }\n      </style>\n  <script>\n    document.write(\'<img src="//geo.yahoo.com/b?s=1197757129&t=\'+new Date().getTime()+\'&src=aws&err_url=\'+encodeURIComponent(document.URL)+\'&err=%<pssc>&test=\'+encodeURIComponent(\'%<{Bucket}cqh[:200]>\')+\'" width="0px" height="0px"/>\');var beacon = new Image();beacon.src="//bcn.fp.yahoo.com/p?s=1197757129&t="+new Date().getTime()+"&src=aws&err_url="+encodeURIComponent(document.URL)+"&err=%<pssc>&test="+encodeURIComponent(\'%<{Bucket}cqh[:200]>\');\n  </script>\n  </head>\n  <body>\n  <!-- status code : 404 -->\n  <!-- Not Found on Server -->\n  <table>\n  <tbody><tr>\n      <td>\n      <img src="https://s.yimg.com/rz/p/yahoo_frontpage_en-US_s_f_p_205x58_frontpage.png" alt="Yahoo Logo">\n      <h1 style="margin-top:20px;">Will be right back...</h1>\n      <p id="message-1">Thank you for your patience.</p>\n      <p id="message-2">Our engineers are working quickly to resolve the issue.</p>\n      </td>\n  </tr>\n  </tbody></table>\n  </body></html>'

In [93]:
dates_df = pd.DataFrame({'Date': datesList, 'DateValue': datesList})

dates_df.set_index('Date', inplace=True)

In [94]:
dates_df

            DateValue
Date
2000-01-01 2000-01-01
2000-01-25 2000-01-25
2000-02-18 2000-02-18
2000-03-13 2000-03-13
2000-04-06 2000-04-06
...               ...
2010-09-17 2010-09-17
2010-10-11 2010-10-11
2010-11-04 2010-11-04
2010-11-28 2010-11-28
2010-12-22 2010-12-22

[168 rows x 1 columns]

In [97]:
dates_df.loc['2000-01-25']

# recoment way
dates_df.loc[pd.Timestamp('2000-01-25')]

DateValue   2000-01-25
Name: 2000-01-25 00:00:00, dtype: datetime64[ns]

In [98]:
dates_df.loc[[pd.Timestamp('2000-01-25'), pd.Timestamp('2010-10-11')]]

            DateValue
Date
2000-01-25 2000-01-25
2010-10-11 2010-10-11

In [101]:
someday = dates_df.index[100]

In [103]:
type(someday)

pandas._libs.tslibs.timestamps.Timestamp

In [105]:
dates_df.index.day_name()

Index(['Saturday', 'Tuesday', 'Friday', 'Monday', 'Thursday', 'Sunday',
       'Wednesday', 'Saturday', 'Tuesday', 'Friday',
       ...
       'Thursday', 'Sunday', 'Wednesday', 'Saturday', 'Tuesday', 'Friday',
       'Monday', 'Thursday', 'Sunday', 'Wednesday'],
      dtype='object', name='Date', length=168)

In [106]:
dates_df.index + 5

TypeError: Addition/subtraction of integers and integer-arrays with DatetimeArray is no longer supported.  Instead of adding/subtracting `n`, use `n * obj.freq`

In [107]:
dates_df.index + pd.DateOffset(days = 5)

DatetimeIndex(['2000-01-06', '2000-01-30', '2000-02-23', '2000-03-18',
               '2000-04-11', '2000-05-05', '2000-05-29', '2000-06-22',
               '2000-07-16', '2000-08-09',
               ...
               '2010-05-25', '2010-06-18', '2010-07-12', '2010-08-05',
               '2010-08-29', '2010-09-22', '2010-10-16', '2010-11-09',
               '2010-12-03', '2010-12-27'],
              dtype='datetime64[ns]', name='Date', length=168, freq=None)

In [108]:
dates_df.index - pd.DateOffset(days = 5)


# dates_df.index - pd.DateOffset(weeks = 5)

DatetimeIndex(['1999-12-27', '2000-01-20', '2000-02-13', '2000-03-08',
               '2000-04-01', '2000-04-25', '2000-05-19', '2000-06-12',
               '2000-07-06', '2000-07-30',
               ...
               '2010-05-15', '2010-06-08', '2010-07-02', '2010-07-26',
               '2010-08-19', '2010-09-12', '2010-10-06', '2010-10-30',
               '2010-11-23', '2010-12-17'],
              dtype='datetime64[ns]', name='Date', length=168, freq=None)

In [109]:
dates_df.index + pd.DateOffset(years = 1, months = 1, days = 5)

DatetimeIndex(['2001-02-06', '2001-03-02', '2001-03-23', '2001-04-18',
               '2001-05-11', '2001-06-04', '2001-06-29', '2001-07-22',
               '2001-08-16', '2001-09-09',
               ...
               '2011-06-25', '2011-07-18', '2011-08-12', '2011-09-05',
               '2011-09-29', '2011-10-22', '2011-11-16', '2011-12-09',
               '2012-01-02', '2012-01-27'],
              dtype='datetime64[ns]', name='Date', length=168, freq=None)

In [110]:
from pandas.tseries import offsets

In [111]:
dates_df.index + offsets.MonthBegin()

# dates_df.index + pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2000-02-01', '2000-02-01', '2000-03-01', '2000-04-01',
               '2000-05-01', '2000-05-01', '2000-06-01', '2000-07-01',
               '2000-08-01', '2000-09-01',
               ...
               '2010-06-01', '2010-07-01', '2010-08-01', '2010-08-01',
               '2010-09-01', '2010-10-01', '2010-11-01', '2010-12-01',
               '2010-12-01', '2011-01-01'],
              dtype='datetime64[ns]', name='Date', length=168, freq=None)

In [112]:
#Timedelta


pd.Timedelta(days=3)

Timedelta('3 days 00:00:00')

In [113]:
pd.Timedelta(days=3, hours=9)

Timedelta('3 days 09:00:00')

In [117]:
time1 = pd.Timestamp('2021-07-01 04:30:00PM')
time2 = pd.Timestamp('2021-07-04 02:56:00AM')

time2 - time1

Timedelta('2 days 10:26:00')

In [119]:
pd.Timedelta('5 minutes')

pd.Timedelta('2 hours')

Timedelta('0 days 02:00:00')

In [123]:
#timedelta in Dataframe

shippings = pd.read_csv("files/ecommerce.csv", index_col='ID', parse_dates=['order_date','delivery_date'])

shippings.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [125]:
shippings['delivery_time'] = shippings['delivery_date'] - shippings['order_date']
shippings.head()

   order_date delivery_date delivery_time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days

In [126]:
shippings['delivery_date'] + shippings['delivery_time']

ID
1     1999-10-20
2     2004-01-18
4     1994-03-12
5     2003-03-22
7     2003-03-18
         ...
990   2000-09-12
991   2004-10-18
993   2005-10-06
994   1993-06-23
997   1993-07-01
Length: 501, dtype: datetime64[ns]

In [133]:
# mask = shippings['delivery_time'] > pd.Timedelta(days=365)
mask = shippings['delivery_time'] > '365 days'
shippings[mask]

    order_date delivery_date delivery_time
ID
2   1992-04-22    1998-03-06     2144 days
4   1991-02-10    1992-08-26      563 days
5   1992-07-21    1997-11-20     1948 days
7   1993-09-02    1998-06-10     1742 days
9   1990-01-25    1994-10-02     1711 days
..         ...           ...           ...
986 1990-12-10    1992-12-16      737 days
990 1991-06-24    1996-02-02     1684 days
991 1991-09-09    1998-03-30     2394 days
993 1990-11-16    1998-04-27     2719 days
997 1990-01-04    1991-10-03      637 days

[394 rows x 3 columns]

In [129]:
shippings['delivery_time'].max()

Timedelta('3583 days 00:00:00')

In [131]:
shippings['delivery_time'].min()

Timedelta('8 days 00:00:00')